body
    {
       background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/14684.png);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }
    .container
    {
        height: 110vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
    }
    .inp
    {
        height: 50%;
        width: 30%;
        
        font-size: 40px;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: -50px;
        box-shadow: 1px 1px 15px;
        opacity: 1px;
    }
    h1
    {
        font-size: 150px;
        color: white;
        margin: auto;
        margin-left: px;
    }
    #L
    {
        color:rgb(193, 193, 229)
    }
    form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input
    {
        height: 40px;
        width: 300px;
        border-radius: 25px 25px 25px ;
        border-color: transparent;
        color: black;
        margin-top: 40px;
        font-size: 20px;
    }
    .button
    {
        
        justify-content: center;
        flex-direction: column;
        margin-left: 40px;
        font-size: 20px;
    }
    #r
    {
        height: 20px;
        width: 20px;
        margin-left: -80px;
    }
a{
    font-size: 20px;
    margin-left: 200px;
    margin-top: -200px;
    color: white;
}
.f{
    margin-top: -60px;
    margin-left: 30px;
}
#l
{
   
   font-size: 40px;
   margin-left:-100px;
   background-color: rgba(181, 181, 226, 0.703);
   border-radius: 25px 25px 25px ;
   color: rgba(180, 180, 231, 0.953);
   border-color: transparent;
   
}
#i{
    font-size: 30px;
    margin-top: px;
    margin-top: -65px;
}
#d
{
    font-size: 30px;
    margin-left: 70px;
    color: white;
    margin-left: 290px;
  
}

